/* file: landingPage.css */
/* Author: Alex Lux*/
/*Use of  Cody "CodeMan38" Boisclair's Font Press Start 2 P */
/*This is to add format and design to Alex Lux landing page/portfolio*/
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

h1{
color: DodgerBlue;
text-align: center;
font-family: 'Press Start 2P', cursive;
 }

.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 60px;
}
.hub-btn {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px White,
   7px 7px 20px 0px White,
   4px 4px 5px 0px White;
  outline: none;
}
.Mover {
  background: DeepPink;
background: radial-gradient(circle, DeepPink 0%, CornflowerBlue 100%);
  color: White;
  line-height: 42px;
  padding: 0;
  border: none;
}

.Mover:hover{
  background: CornflowerBlue;
  color: Black;
 box-shadow:inset 2px 2px 2px 0px Gray,
   7px 7px 20px 0px Gray,
   4px 4px 5px 0px Gray;
  outline: none;
}

.Mover span:hover:before {
  width: 100%;
}
.Mover span:hover:after {
  width: 100%;
}
