/* file: assignment02.css
   author: Alex Lux with code borrowed from george corser (gpcorser@svsu.edu)
*/

/* --- put your css here --- */ 
/*the css for Part A*/
body{background-color: skyblue;}
#igottabeme{font-family: Arial, Helvetica, sans-serif;}
.classy{margin-left: 10px;}

/*the css for Part B*/
div{margin-bottom: 50px;}
SPAN{height: 50px;
   width: 100px; 
   padding-top: 5px; 
   padding-bottom: 5px; 
   padding-left: 20px; 
   padding-right: 20px;
   border: 5px solid blue;
   background-color: yellow;}

SPAN.a{display:inline;}  
SPAN.b{display:block;}  
SPAN.c{display:inline-block;}   


/*the css for Part C*/
/*the css for Part D*/
/* --- pre-existing css --- */
.stripey tr:nth-child(even) {
  background-color: gray;
}
.stripey tr:nth-child(odd) {
  background-color: white;
}
.stripey th {
  color: white;
  background-color: black;
}
.mousey td:hover {
  background-color: yellow;
}
.rightey td {
  text-align: right;
}
input[type="text"].pinkey:focus {
  background-color: pink;
}
/* external css is imported into html using the <link> tag in the <head> section, as shown below.

  <head>
    <link rel="stylesheet" href="assignment02.css">
  </head>

*/


